In [13]:
from pytictoc import TicToc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

t = TicToc()  # create instance of class

t.tic()  # Start timer
# Read csv data from specific folder
file01 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_20022020_1.csv'
file02 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_20022020_2.csv'
file03 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_21022020_1.csv'
file04 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_21022020_2.csv'
file05 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_22022020_1.csv'
file06 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_22022020_2.csv'
file07 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_23022020_1.csv'
file08 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_23022020_2.csv'
file09 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_24022020_1.csv'
file10 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_24022020_2.csv'
file11 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_25022020_1.csv'
file12 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_25022020_2.csv'
file13 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_26022020_1.csv'
file14 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_26022020_2.csv'
file15 = 'C:/Users/Andi/H8_PFDS_DS_C1C2_3/4G_Profile.csv'
df1 = pd.read_csv(file01, header=None)
df2 = pd.read_csv(file02, header=None)
df3 = pd.read_csv(file03, header=None)
df4 = pd.read_csv(file04, header=None)
df5 = pd.read_csv(file05, header=None)
df6 = pd.read_csv(file06, header=None)
df7 = pd.read_csv(file07, header=None)
df8 = pd.read_csv(file08, header=None)
df9 = pd.read_csv(file09, header=None)
df10 = pd.read_csv(file10, header=None)
df11 = pd.read_csv(file11, header=None)
df12 = pd.read_csv(file12, header=None)
df13 = pd.read_csv(file13, header=None)
df14 = pd.read_csv(file14, header=None)
# df15 = pd.read_csv(file15, na_values='\\N', usecols=['AREA', 'REGION', 'SALES_AREA', 'MICRO_CLUSTER', 'SITE_ID',
#                                                    'RNC_ID', 'WBTS_ID', 'CELL_ID', 'Uarfcn', 'Band', 'Carrier',
#                                                    'Sector_ID', 'Coverage'])
df1.dropna(how='any', inplace=True)
df2.dropna(how='any', inplace=True)
df3.dropna(how='any', inplace=True)
df4.dropna(how='any', inplace=True)
df5.dropna(how='any', inplace=True)
df6.dropna(how='any', inplace=True)
df7.dropna(how='any', inplace=True)
df8.dropna(how='any', inplace=True)
df9.dropna(how='any', inplace=True)
df10.dropna(how='any', inplace=True)
df11.dropna(how='any', inplace=True)
df12.dropna(how='any', inplace=True)
df13.dropna(how='any', inplace=True)
df14.dropna(how='any', inplace=True)
#df15.fillna(value=0, inplace=True)
# df15 = df15.astype({'RNC_ID': 'int16', 'WBTS_ID': 'int16',
#                  'Sector_ID': 'int16', 'Uarfcn': 'int16', 'Band': 'int16'})
#df15.rename(columns={'CELL_ID': 'WCEL_ID'}, inplace=True)
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9,
                df10, df11, df12, df13, df14], ignore_index=True)
t.toc()  # Time elapsed since t.tic()

t.tic()  # Start timer
df.drop(columns=[0], inplace=True)
header = (['Date', 'Hour', 'MRBTS_ID', 'LNBTS_ID', 'LNCEL_ID',
           'Availability', 'DL_PRB', 'RRC_User'])
df.rename(columns={1: 'Date', 2: 'Hour', 3: 'MRBTS_ID', 4: 'LNBTS_ID', 5: 'LNCEL_ID',
                   6: 'Availability', 7: 'DL_PRB', 8: 'RRC_User'}, inplace=True)

total = df.isnull().sum().sort_values(ascending=False)
percent = 100*(df.isnull().sum()/df.isnull().count()
               ).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)
t.toc()  # Time elapsed since t.tic()

Elapsed time is 10.243866 seconds.
              Total  Percent
RRC_User          0      0.0
DL_PRB            0      0.0
Availability      0      0.0
LNCEL_ID          0      0.0
LNBTS_ID          0      0.0
MRBTS_ID          0      0.0
Hour              0      0.0
Date              0      0.0
Elapsed time is 3.441287 seconds.

In [10]:
header_3G = ('AREA', 'REGION', 'SALES_AREA', 'MICRO_CLUSTER', 'SITE_ID', 'RNC_ID',
             'WBTS_ID', 'WCEL_ID', 'Uarfcn', 'Band', 'Carrier', 'Sector_ID', 'Coverage')
header_4G_Data = ('Date','Hour','MRBTS_ID','LNBTS_ID','LNCEL_ID','Availability','DL_PRB','RRC_User')

for x in header_4G_Data:
    print(df[x].unique())

['2020-02-20' '2020-02-21' '2020-02-22' '2020-02-23' '2020-02-24'
 '2020-02-25' '2020-02-26']
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
[30000 30001 30002 ... 51992 60952 53280]
[30000 30001 30002 ... 51992 60952 53280]
[ 1  2  3  4  5  6  0  9  7  8 13 19]
[100.          98.12747569  98.16348578 ...  91.68865435  91.42480211
  91.29287599]
[10.00126111 11.32515278 19.45828889 ... 74.05037778 81.97046944
 83.80775278]
[  3.   7.  18.   1.   2.   9.   5.   4.  22.  10.   6.  15.   8.  11.
   0. 125. 136. 176.  14.  13. 112.  97. 127. 167. 163. 217.  17.  89.
  72.  33. 146.  42.  83.  67. 105.  55.  71.  79.  61.  36.  75.  12.
 115. 144. 161.  90. 149. 124.  16.  27.  28.  82. 113.  44.  19. 134.
  63.  81.  23. 107.  35.  41.  21.  32.  46.  20. 116. 128. 110.  76.
 111.  78. 129.  62. 117.  94.  53.  66. 123.  70.  29.  80. 197.  56.
  47.  87.  86.  88. 126. 118. 121.  57.  40. 327.  52. 114. 100.  48.
  51. 150. 171.  95.  34.  30.  45.  49.  38. 154.  54. 288.  31. 106.
  77.  99. 139.  58. 143. 268. 170.  60. 102.  24.  25. 196. 212. 203.
  39. 122.  26. 140. 174. 207. 189. 246. 227. 211. 219. 233.  37. 151.
 133. 135. 200. 208. 220. 141. 159. 169. 252. 142. 156. 195. 221.  98.
  69.  73. 269. 180.  68. 178.  92.  93.  59. 172. 218. 164. 138. 120.
 109. 160. 186. 215. 173.  85. 130. 216. 119. 108.  84. 157. 181. 158.
 103.  64. 101. 145. 131. 214. 185. 210. 166.  50.  65. 148. 243.  43.
 245. 104.  96. 155. 204. 132. 147. 165.  74. 187. 202. 223.  91. 226.
 225. 183. 182. 222. 302. 179. 192. 317. 235. 228. 318. 168. 254. 162.
 152. 224. 188. 266. 244. 229. 259. 377. 283. 319. 190. 286. 260. 234.
 137. 175. 209. 153. 193. 177. 205. 191. 372. 250. 264. 198. 251. 184.
 291. 194. 271. 255. 279. 231. 199. 294. 249. 267. 238. 206. 213. 282.
 242. 290. 201. 382. 272. 332. 241. 265. 257. 232. 273. 367. 270. 263.
 313. 262. 323. 230. 280. 314. 305. 256. 358. 300. 261. 237. 240. 301.
 248. 239. 278. 276. 274. 236. 247. 292. 258. 297. 310. 333. 398. 328.
 295. 299. 320. 277. 322. 296. 289. 306. 349. 346. 325. 285. 253. 281.
 354. 329. 395. 363. 307. 315. 337. 308. 287. 335. 293. 366. 357. 390.
 355. 303. 309. 344. 275. 352. 336. 321. 311. 298. 304. 472. 340. 385.
 702. 316. 351. 331. 393. 443. 427. 348. 359. 374. 284. 399. 360. 324.
 378. 449. 330. 486. 345. 425. 454. 341. 491. 450. 379. 397. 338. 339.
 350. 356. 342. 386. 438. 347. 401. 383. 423. 326. 515. 484. 526. 406.
 414. 370. 405. 512. 489. 373. 380. 441. 312. 410. 394. 416. 388. 451.
 722. 419. 375. 467. 361. 497. 371. 492. 428. 402. 365. 422. 334. 439.
 452. 448. 566. 404. 391. 453. 415. 384. 684. 409. 362. 353. 369. 522.
 558. 407. 445. 376. 343. 571. 426. 573. 364. 434. 746. 412. 387. 553.
 499. 464. 473. 392. 447. 762. 505. 440. 457. 698. 436. 549. 507. 463.
 413. 770. 545. 403. 679. 381. 468. 368. 771. 568. 461. 556. 494. 465.
 429. 481. 420. 772. 567. 585. 550. 542. 396. 400. 504. 612. 498. 563.
 408. 572. 418. 537. 632. 613. 462. 435. 619. 431. 488. 519. 588. 430.
 531. 478. 417. 433. 471. 621. 559. 490. 561. 565. 421. 474. 455. 411.
 521. 495. 444. 460. 541. 485. 470. 493. 502. 442. 530. 640. 623. 477.
 525. 510. 668. 456. 555. 633. 576. 735. 523. 546. 482. 459. 503. 432.
 554. 389. 593. 446. 476. 524. 586. 560. 540. 437. 528. 475. 658. 649.
 487. 517. 579. 677. 483. 424. 518. 506. 500. 514. 569. 595. 466. 509.
 643. 508. 676. 520. 603. 596. 587. 666. 582. 544. 574. 652. 551. 583.
 653. 529. 557. 479. 577. 527. 469. 654. 575. 600. 651. 581. 532. 538.
 639. 580. 535. 533. 681. 687. 690. 689. 547. 682. 536. 733. 775. 777.
 773. 599. 594. 548. 601. 578. 592. 753. 564. 756. 543. 605. 602. 534.
 598. 648. 480. 673. 629. 501. 458. 562. 616. 628. 496. 763. 539. 511.
 609. 731. 634. 618. 665. 662. 570. 626. 774. 516. 627. 675. 754. 589.
 694.]

In [8]:
df

,Date,Hour,MRBTS_ID,LNBTS_ID,LNCEL_ID,Availability,DL_PRB,RRC_User
0,2020-02-20,0,30000,30000,1,100.0,10.001261,3.0
1,2020-02-20,0,30000,30000,2,100.0,11.325153,7.0
2,2020-02-20,0,30000,30000,3,100.0,19.458289,18.0
3,2020-02-20,0,30000,30000,4,100.0,10.947136,1.0
4,2020-02-20,0,30000,30000,5,100.0,10.956206,2.0
...,...,...,...,...,...,...,...,...
7157762,2020-02-26,23,74219,74219,2,100.0,16.034569,9.0
7157763,2020-02-26,23,74219,74219,3,100.0,13.714122,10.0
7157764,2020-02-26,23,74323,74323,1,100.0,74.050378,71.0
7157765,2020-02-26,23,74323,74323,2,100.0,81.970469,96.0
7157766,2020-02-26,23,74323,74323,3,100.0,83.807753,60.0